.main-app-header-container {
  background-color:#151E28;
  display:flex;
  box-sizing:border-box;
  color:white;
  height:3.10em;
  font-family: 'Roboto', sans-serif;
  font-size:18px;
  position:fixed;
  top:0;
  width:100%;
  /* display:none; */
  z-index:1000;
}


.ff-corporate-logo img {
  height:42px;
}

.ff-corporate-logo {
  padding:15px;
  padding-top:6px;
  padding-bottom:0;
}

.app-header-navlinks {
  flex-basis:63%;
  display:none;
  
}

.navlinks-ul {
  display:flex;
  list-style:none;
  padding-left:0;
}


.navlinks-ul a {
  color:white;
  text-decoration:none;
  font-size:18px;
  padding:10px;
  padding-top:14px;
  padding-bottom:14px;
}

.current-page {
  border-bottom: 2px solid var(--fitfox-orange);
}

.app-header-right-navlinks {
  box-sizing:border-box;
  display:none;
}

.app-header-right-navlinks ul {
  list-style:none;
  display:flex;
  flex-direction:row;
}

.registrieren {
  font-size:.9rem;
}

.registrieren a {
  color:white;
  text-decoration:none;
}


.login-link a{
  font-family:sans-serif;
  font-weight:bold;
  font-size:14px;
  text-decoration:none;
  color:white;
  margin-left:1em;
  padding:8px;
  height:1em;
  border:1px solid white;
  padding-left:8px;
}


.login-link a:hover {
  background-color:white;
  color: var(--fitfox-menublue);
}
.language-box {
  font-family:sans-serif;
  padding-left:10px;
  display:flex;
  font-size:1rem;
  font-weight:600;
}


.language-flag {
  margin-left:.7em;
}

.language-flag img {
  width:20px;
}


.icon-bar {
  background-color:white;
  width:2rem;
  height:1px;
  padding:1px;
  margin:3px;
  border-radius:1px;
}

.navbar-toggle div {
  display:flex;
  flex-direction:column;
  margin-top:.5rem;
  margin-left:.5rem;
  margin-top:1rem;
  margin-right:1rem;
  display:none;
}

.navbar-toggle {
  cursor:pointer;
}


/* MOBILE MENU */

.mobile-menu-container {
  position:fixed;
  background-color:#151E28;
  left:0;
  bottom:0;right:5em;
  top:0;
  transition:all .5s ease;
  z-index:1000;
}



.logo-language-container {
  display:flex;
  flex-direction:row;
}

.mobile-menu-items {
  margin-left:3em;
  margin-top:.8rem;
  display:flex;
  flex-direction:column;
}

.language-container-mobile {
  margin:1rem;
}

.language-flag-container-mobile img{
  width:20px;
  margin-top:.3rem;
}

.mobile-column-links {
  flex-direction:column;
  width:5em;
  list-style:none;
  padding-left:14px;
}

.mobile-column-links li {
  margin-bottom:.5rem;
  text-align:left;
  color:white;
  font-size:1.5rem;
  text-decoration:none;
  padding-top:14px;
  padding-bottom:14px;
}

.mobile-column-links a {
  color:white;
  text-decoration:none;

}


.mobile-actions {
  display:flex;
}

.mobile-actions a {
  color:white;
  text-decoration:none;
  border:1px solid white;
  padding:8px;
  font-size:.9rem;
  font-family:Roboto;
  font-weight:600;
  margin-right:.4rem;
}

.mobile-back-button {
  position:absolute;
  background-color:var(--fitfox-orange);
  width:4em;
  max-width:4em;
  height:3.5rem;
  top:0;
  right:-4em;
  font-size:1.5em;
  padding-left:0;
  cursor:pointer;
}


@media only screen and (min-width:740px) {

.app-header-navlinks {
  display:block;
}

.app-header-right-navlinks {
  display:block;
}
.ff-corporate-logo {
  margin-left:6em;
}

}

@media only screen and (max-width:740px) {
  .navbar-toggle div {
    display:flex;
  }


}