.city-list-container {
  flex-basis:10%;
}

.city-list-ul {
  list-style:none;
  overflow-y:scroll;
  padding-left:0;
  height:45em;
  
}



.city-list-container header {
  font-size:1.5em;
  border-bottom:1px solid black;
  width:60%;
  margin:0 auto;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.city-list-ul li {
  padding:10px;
  background-color: var(--fitfox-menublue);
  color:white;
  margin-top:1px;
  height:2.4em;
  font-size:1.3em;
  margin-right:1em;
  line-height:2em;
  cursor:pointer;
  border-radius:3px;
}

.city-list-ul li:hover {
  color:var(--fitfox-orange);
}


::-webkit-scrollbar {
  display:none;
}

@media only screen and (max-width:1200px) {
  .city-list-container {
    display:none;
  }

  .map-citylist-flex-container {
    height:72vh;
    width:100%;
  }
}