.city-card-container {
  
  height:2.5em;
  box-shadow:2px 2px 10px 1px rgba(0, 0, 0, 0.425);
  min-width:7em;
  font-weight:600;
  margin:10px;
  background-color:#FF5722;
  cursor:pointer;
  color:white;
}


.city-card-city {
  font-size:1em;
  margin-top:.8rem;
  font-family:sans-serif;
}
