.city-carousel {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  margin:0 auto;
  max-height:15em;
  overflow-y:scroll;
}


.city-chooser-expander {
  border:none;
  padding:10px;
  font-weight:300;
  text-transform: uppercase;
  background-color:#151E28;
  border-radius:3px;
  color:white;
  margin-top:.4em;
  animation:fadeIn 1s linear;
}

.city-chooser-expander:hover {
  color: var(--fitfox-orange);
}


.choose-city-greet {
  background-color: var(--fitfox-orange);
  color:white;
  max-width:23em;
  line-height:2em;
  margin:0 auto;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:1.3em;
  height:2em;
  margin-bottom:.4em;
  cursor:default;
  font-size:1em;
}


@keyframes fadeIn {
  0% {opacity:0;}
  40% {opacity: 0;}
  100% {opacity:1;}
}

.city-chooser-header {
  text-align:center;
  width:80%;
  margin:0 auto;
  margin-top:4.5em;
}

.pointercursor {
  cursor:pointer;
}