.info-window-pic img{
  width:17em;
  height:8em;
  border-radius:2px;
}

.info-window-container{
  width:17em;
  height:13em;
}

.info-window-description {
  width:17em;
  text-align:center;
  margin-bottom:.5rem;
  margin-top:.42rem;
  font-size:.9em;

}

.info-window-time {
  margin-bottom:5px;
}

.info-window-title {
  margin-top:1em;
  font-size:1.05rem;
  margin-bottom:.5em;
}