.status-message-filler {
  height:2.1em;
}


.status-message {
  background-color:#EEEEEE;
  width:15em;
  margin:0 auto;
  border-radius:3px;
  animation: wiggle .3s linear;
}

.status-message p {
  padding:4px;
  margin:0
}

@keyframes wiggle {
  0% {padding:initial}
  50% {padding:10px;}
  100%{padding:initial;}
}