.sub-header-container {
  height:3em;
  background-color:#F5F5F5;
  margin-top:3em;
  padding-bottom:.1em;
  font-size:1em;
  display:flex;
  justify-content:center;
}

.sub-header-container span {
  display:block;
  margin-top:.7em;
  font-size:1.2em;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight:bold;
  text-transform: uppercase;
}


