.App {
  text-align: center;
}


:root {
  --fitfox-orange:#FF5722;
  --fitfox-menublue: #151E28;
}

.map-citylist-flex-container {
  display:flex;
  justify-content:center;
  margin:0 auto;
  width:95%;
}